//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato", sans-serif;
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1600;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #222222;
$redColor: #f16d7f;
$grayColor: #898989;
$subMenuColor: #646464;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//============================== null =====================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: #{$fontSize + px};
}
html,
body {
	height: 100%;
	min-width: $minWidth;
}
body {
	line-height: 1;
	font-family: $fontFamily;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//============================== /null =====================================
body {
	//background: #57512f;
	color: $mainColor;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	//border: 1px solid #222222;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<Стили обьектов>==================================================================================
._title {
	font-size: 40px;
	font-weight: 700;
	line-height: 120%;
	align-items: center;
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.btn {
	font-weight: 600;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	//min-height: 48px;
	background-color: $redColor;
	color: #fff;
	border: 1px solid transparent;
	&:hover {
		background-color: #fff;
		color: $redColor;
		border: 1px solid $redColor;
	}
	&_white {
		transition: all 0.3s ease 0s;
		padding: 10px 20px;
		color: $redColor;
		background-color: #fff;
		&:hover {
			background-color: $redColor;
			color: #fff;
		}
	}
	&_main {
		transition: all 0.3s ease 0s;
		border: 1px solid $grayColor;
		padding: 10px 20px;
		color: $grayColor;
		background-color: #fff;
		&:hover {
			background-color: $redColor;
			color: #fff;
			border: 1px solid $redColor;
		}
	}

	&_trp {
		font-weight: 700;
		transition: all 0.3s ease 0s;
		padding: 10px 20px;
		color: #fff;
		background-color: transparent;
		border: 1px solid #fff;
		&:hover {
			color: $redColor;
			border: 1px solid #fff;
			background: rgba(255, 255, 255, 0.9);
		}
	}

	&_rad {
		transition: box-shadow 0.3s ease 0s;
		margin-left: -3px;
		width: 104px;
		height: 46px;
		background-color: #f16d7f;
		border-radius: 0px 23px 23px 0px;
		color: #fff;
		&:hover {
			box-shadow: 0 0 7px $redColor;
		}
		//display: block;
	}
}

.item__btn {
	font-size: 14px;
	transition: background-color 0.3s ease 0s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 15px;
	z-index: 2;
	&:hover {
		background-color: $redColor;
		border: 1px solid transparent;
	}
	&_text {
		margin-left: 10px;
		font-size: 14px;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: box-shadow 0.3s ease 0s;
	&:focus {
		outline: none;
	}
	&:hover {
		box-shadow: 0 0 7px $redColor;
	}
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.display-block {
	display: block;
}

@import "media_mixin.scss";

//</Стили обьектов>==================================================================================

//============================== header ====================================
.header {
	width: 100%;
	height: 75px;
	//position: absolute;
	background: #222222;
	//margin: 0 auto;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 75px;
	}

	&__box {
		display: flex;
		align-items: center;
	}

	&__search {
		font-size: 32px;
		color: #e8e8e8;
		margin-left: 25px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
		@include _480 {
			display: none;
		}
	}

	&__user {
		font-size: 28px;
		color: #e8e8e8;
		margin-left: 33px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
	}

	&__cart {
	}

	&__menu {
	}
}

.logo {
	padding: 15px 15px 15px 3px;
	margin-top: -5px;
}

.search-form {
	&._active {
		.search-form__input {
			opacity: 1;
			visibility: visible;
			top: 100%;
		}
	}
	
	&__item {
		margin-left: 10px;
	}
	&__input {
		width: 400px;
		height: 46px;
		background-color: #e1e1e1;
		border-radius: 23px;
		padding: 0 30px;
		opacity: 0;
		visibility: hidden;
		@include _768 {
			width: 140px;
		}
		@include _480 {
			display: none;
		}
	}
}

.menu {
	font-size: 24px;
	color: #e8e8e8;
	//margin-left: 40px;
	transition: color 0.3s ease 0s;
	&:hover {
		color: $redColor;
	}
}
.cart-header {
	&__icon {
		position: relative;
		font-size: 28px;
		color: #e8e8e8;
		margin-left: 33px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
		span {
			position: absolute;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			top: -7px;
			right: -7px;
			background-color: $redColor;
			color: #fff;
			font-size: 12px;
		}
	}

	&__body {
	}

	&__list {
	}
}
.menu-header {
	display: none;
	position: absolute;
	width: 232px;
	height: 764px;
	right: 0;
	top: 75px;
	background-color: #fff;
	z-index: 10;
	&_show {
		display: block;
	}

	&__ico {
		position: absolute;
		right: 16px;
		top: 16px;
		&_icon-close {
			color: #6f6e6e;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		text-transform: uppercase;
		margin: 37px 0 0 33px;
	}

	&__list {
		padding: 14px 0 0 33px;
	}

	&__item {
	}

	&__sub-title {
		font-size: 14px;
		line-height: 17px;
		color: #f16d7f;
		text-transform: uppercase;
		margin: 10px 0;
	}

	&__sub-list {
		margin-left: 20px;
	}

	&__sub-item {
		padding: 6px 0;
	}

	&__sub-link {
		padding: 5px;
		position: relative;
		font-size: 14px;
		line-height: 17px;
		color: #6f6e6e;
		&::after {
			content: "";
			width: 0px;
			height: 2px;
			background-color: $redColor;
			position: absolute;
			bottom: 0px;
			left: 0;
			z-index: 1;
			transition: width 0.1s linear;
		}
		&:hover {
			color: #000;
			&::after {
				width: 100%;
			}
		}
	}
}

//============================== /header ===================================

//====================================== main ==========================================
.brand {
	background-color: #f1e4e6;

	&__body {
		//height: 764px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__img {
		//padding: 0 0 69% 0;
		//max-width: 100%;
	}

	&__image {
		max-width: 100%;
		@include _768 {
			margin-left: 50px;
		}
		@include _480 {
			display: none;
		}
	}

	&__title {
		padding-right: 100px;
		position: relative;
		font-weight: 900;
		font-size: 48px;
		line-height: 38px;
		color: #222222;
		text-transform: uppercase;
		display: inline-block;
		white-space: nowrap;
		&::after {
			content: "";
			width: 12px;
			height: 88px;
			background-color: #f16d7f;
			position: absolute;
			top: -7px;
			left: -25px;
			z-index: 1;
			@include _480 {
				top: 40px;
			}
		}
		@include _992 {
			padding-right: 0px;
			margin-left: 125px;
		}
		@include _768 {
			font-size: 40px;
		}
		@include _480 {
			padding: 50px 0;
			margin-left: 0;
		}
	}

	&__sub-title {
		font-weight: 700;
		font-size: 32px;
		@include _768 {
			font-size: 24px;
		}
		&_red {
			color: #f16d7f;
			@include _768 {
				font-size: 20px;
			}
		}
	}
}

//==============================sale================================
.sale {
	&__body {
		margin-top: 65px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include _480 {
			flex-direction: column;
		}
		/*display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 260px);
		gap: 30px;
		@include _768 {
			gap: 20px;
		}*/
	}

	&__item {
		/*&:nth-child(4) {
			grid-column: 1/4;
			height: 180px;
		}
		@include _480 {
			&:nth-child(1) {
				grid-column: 1/4;
				//height: 220px;
			}
			&:nth-child(2) {
				grid-column: 1/4;
				height: 220px;
			}
			&:nth-child(3) {
				grid-column: 1/4;
				height: 220px;
			}
		}*/
		width: 32%;
		height: 260px;
		@include _480 {
			width: 100%;
			margin-bottom: 10px;
		}
		//border: 1px solid #000;
		&_men {
			background: url(../img/men.jpg) no-repeat;
			background-position: center;
		}
		&_woman {
			background: url(../img/woman.jpg) no-repeat;
			background-position: center;
		}
		&_kids {
			background: url(../img/kids.jpg) no-repeat;
			background-position: center;
		}
		&_long {
			background: url(../img/accesories.jpg);
			background-position: center;
			width: 1140px;
			height: 180px;
			margin-top: 20px;
			@include _480 {
				width: 100%;
				margin-top: 0;
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	&__sub-text {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);
		position: absolute;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		white-space: nowrap;
	}

	&__sub-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		text-align: center;
		color: #f16d7f;
		text-transform: uppercase;
		white-space: nowrap;
		@include _768 {
			font-size: 18px;
		}
	}
}
//======================/sale========================

//======================fetured========================

.fetured {
	&__txt {
		margin: 96px 0 18px 0;
		text-align: center;
	}

	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 36px;
		color: #222222;
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
	}

	&__body {
	}

	&__list {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}

	&__btn {
		margin: 48px 0 90px 0;
		text-align: center;
	}
}

.card-product {
	background: #f8f8f8;
	display: flex;
	flex-direction: column;
	position: relative;
	&:hover {
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
		.card-product__btn {
			opacity: 1;
			visibility: visible;
		}
	}

	&__labels {
		position: absolute;
		z-index: 2;
		display: flex;
		flex-direction: column;
		right: 24px;
		top: 24px;
	}

	&__label {
		flex: 0 0 48px;
		width: 48px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&_sale {
			background: $redColor;
		}
		&_new {
			background: #ee1212;
		}
		&_hit {
			background: #921b2b;
		}
	}

	&__link {
		position: relative;
		transition: all 0.3s ease 0s;
		//padding: 0 0 420px / 360px * 100% 0;
		img {
			width: 100%;
		}
		&:hover {	
			&::before {
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(58, 56, 56, 0.86);
			}
		}
	}
		

	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 25px 18px 20px 18px;
	}

	&__content {
		flex: 1 1 auto;
	}

	&__title {
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		padding: 0 0 12px 0;
		text-transform: uppercase;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #5d5d5d;
		padding: 0 0 18px 0;
	}

	&__price {
		font-size: 16px;
		line-height: 19px;
		color: $redColor;
	}

	&__btn {
		opacity: 0;
		visibility: hidden;
		min-height: 43px;
		position: absolute;
		top: 40%;  
		left: 50%;
		transform: translate(-50%, -50%);
		&::before {
			margin-right: 10px;
			font-size: 18px;
		}
		&:hover {
			box-shadow: 0px 0px 15px #fff;
		}
	}
}

//===========================skills=============================
.skills {
	width: 100%;
	min-height: 341px;
	background: #222224;
	&__body {
		padding: 90px 10px;
		@include _768 {
			padding: 0;
		}
	}

	&__title {
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		@include _768 {
			flex-direction: column;
			padding: 50px 100px;
		}
		@include _480 {
			padding: 50px 0px;
		}
	}

	&__item {
		padding: 0 20px;
		@include _768 {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	&__ico {
		color: #f16d7f;
		font-size: 40px;
		margin-bottom: 28px;
	}

	&__sub-title {
		font-weight: normal;
		font-size: 19.96px;
		line-height: 24px;
		color: #fbfbfb;
		margin-bottom: 16px;
	}

	&__sub-text {
		font-weight: 300;
		font-size: 13.972px;
		line-height: 17px;
		text-align: center;
		color: #fbfbfb;
	}
}
//===================================== /main ==========================================

//======================================= footer ========================================
.footer {
	&__top {
		width: 100%;
		//min-height: 448px;
		background: url(../img/footer-bg.jpg) no-repeat top center;
		background-size: cover;
		background-position: left;
	}

	&__bottom {
	}
}
.top-footer {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 86px 0;
		@include _768 {
			flex-direction: column;
			justify-content: space-around;
		}
	}

	&__comment {
		max-width: 360px;
		//height: 448px;
		display: flex;
		align-items: center;
	}

	&__img {
		text-align: center;
		margin-bottom: 30px;
	}

	&__image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #222224;
		@include _480 {
			font-size: 22px;
		}
	}
}
.email-footer {
	&__body {
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		color: #222224;
		text-transform: uppercase;
		margin-bottom: 5px;
		@include _768 {
			padding-top: 50px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		color: #222224;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}

.form-email {
	@include _480 {
		display: flex;
		justify-content: center;
	}
	&__input {
		width: 256px;
		height: 46px;
		background-color: #e1e1e1;
		border-radius: 23px 0 0 23px;
		padding: 0 30px;
		//display: block;
		@include _480 {
			max-width: 185px;
			padding: 0 10px;
		}
	}
}

.bottom-footer {
	width: 100%;
	height: 79px;
	background: #222224;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 79px;
		@include _480 {
			flex-direction: column-reverse;
			padding-top: 30px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
		color: #fbfbfb;
	}

	&__social {
		color: #fff;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
	}

	&__list {
		display: flex;
	}

	&__item {
		font-size: 30px;
		padding: 5px 5px;
	}
}

//====================================== /footer ================================

//++++++++++++++++++++++++ registration+++++++++++++++++++++++++
.registration {
	&__head {
		width: 100%;
		height: 148px;
		background: #f8f3f4;
	}

	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #f16d7f;
		text-transform: uppercase;
		line-height: 148px;
		@include _480 {
			text-align: center;
		}
	}

	&__form {
	}
}
.container {
}
.form-registration {
	&__wrp {
		margin: 65px 0;
		display: flex;
		@include _480 {
			flex-direction: column;
		}
	}

	&__body {
		//flex: 0 1 560px;
	}

	&__input {
		height: 45px;
		border: 1px solid #a4a4a4;
		margin: 20px 0;
	}

	&__txt {
	}

	&__text {
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: #b1b1b1;
	}

	&__btn {
		margin: 40px 0;
		text-transform: uppercase;
		span {
			margin-left: 20px;
			font-size: 10px;
		}
	}

	&__pass {
		margin-top: 35px;
	}
}
.radio-input {
	margin-right: 15px;
}
#male,
#female {
	margin-right: 4px;
}
.txt-reg {
	margin-left: 120px;
	@include _992 {
		margin-left: 20px;
	}

	&__title {
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		text-transform: uppercase;
		font-style: normal;
	}

	&__text {
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		@include _992 {
			font-size: 16px;
		}
	}

	&__condition {
	}

	&__list {
	}

	&__item {
		padding: 16px 0;
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		@include _992 {
			font-size: 16px;
			padding: 10px 0;
		}
		span {
			margin-left: 25px;
		}
	}
}

//++++++++++++++++++++++++ /registration++++++++++++++++++++++++

//+++++++++++++++++++++++++cart++++++++++++++++++++++++
.cart {
	&__head {
		width: 100%;
		height: 148px;
		background: #f8f3f4;
	}

	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #f16d7f;
		text-transform: uppercase;
		line-height: 148px;
		@include _480 {
			text-align: center;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 50px 0;
		@include _768 {
			flex-direction: column;
		}
	}

	&__product {
		max-width: 652px;
	}

	&__list {
	}

	&__item {
		display: flex;
		//max-width: 662px;
		//height: 306px;
		//border: 1px solid #222222;
		margin-top: 40px;
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
	}

	&__img {
		flex: 0 0 262px;
		img {
			max-width: 100%;
			//object-fit: contain;
		}
		@include _480 {
			flex: 0 0 180px;
		}
	}

	&__description {
		//flex: 1 1 500px;
		padding: 30px 0px 0 31px;
		@include _480 {
			padding-left: 5px;
		}
	}

	&__btn {
		display: flex;
		justify-content: space-between;
		margin: 80px 0;
		@include _768 {
			justify-content: space-around;
			padding: 0 30px;
		}
		@include _480 {
			padding: 0;
		}
	}

	&__reg {
		margin-left: 40px;
		@include _768 {
			display: flex;
			justify-content: space-between;
			margin-left: 0px;
		}
		@include _480 {
			flex-direction: column;
		}
	}

	&__form {
		margin-top: 40px;
		@include _768 {
			margin-top: 0px;
			width: 100%;
			margin-right: 30px;
		}
	}

	&__checkout {
		padding: 44px;
		margin-top: 70px;
	}
}

.description-cart {
	position: relative;
	width: 100%;
	&__ico {
		position: absolute;
		right: 16px;
		top: 16px;
		color: #6f6e6e;
	}
	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #222222;
		text-transform: uppercase;
		margin-bottom: 35px;
		@include _480 {
			font-size: 18px;
			margin-bottom: 10px;
			line-height: 22px;
		}
	}

	&__text {
		font-size: 22px;
		line-height: 26px;
		color: #575757;
		span {
			color: $redColor;
		}
		p {
			padding: 3px 0;
			@include _480 {
				padding: 0;
			}
		}
		@include _480 {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.form-cart {
	&__input {
		width: 100%;
		height: 45px;
		border: 1px solid #a4a4a4;
		margin: 20px 0;
	}
}
.checkout-cart {
	width: 100%;
	min-height: 214px;
	background-color: #f5f3f3;
	@include _768 {
		width: 500px;
		margin-top: 30px;
	}
	@include _480 {
		width: 100%;
	}

	&__text {
		text-align: right;
	}

	&__sub-title {
		font-size: 11px;
		line-height: 13px;
		color: #4a4a4a;
	}

	&__title {
		padding: 15px 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		text-transform: uppercase;
		border-bottom: 1px solid #e2e2e2;
	}

	&__btn {
		width: 100%;
		margin-top: 20px;
		text-transform: uppercase;
	}
}

.txt-uppercase {
	text-transform: uppercase;
}

//+++++++++++++++++++++++++/cart++++++++++++++++++++++++

//+++++++++++++++++++++++++++ product ++++++++++++++++++++++++++
.product {
	&__carousel {
		//padding: 50px 0;
	}

	&__bread {
		width: 100%;
		min-height: 148px;
	}

	&__breadcrumb {
		//display: flex;
		justify-content: flex-end;
	}

	&__breadcrumb-item {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #636363;
		text-transform: uppercase;
		&_active {
			text-transform: uppercase;
			color: $redColor;
		}
	}

	&__breadcrumb-link {
		font-size: 14px;
		line-height: 17px;
		color: #636363;
		&:hover {
			color: $redColor;
		}
	}

	&__btn {
		margin-left: 10px;
		color: $redColor;
		margin: 50px 0;
		border: 1px solid $redColor;
		font-size: 16px;
		&::before {
			margin-right: 10px;
		}
	}

	&__filter {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		@include _480 {
			flex-direction: column;
			align-items: center;
		}
	}

	&__color {
		font-size: 14px;
		line-height: 17px;
		color: #6f6e6e;
		text-transform: uppercase;
		&:hover {
			color: $redColor;
		}
	}
	&__catalog {
		margin: 100px 0;
	}
}

@include _992 {
	.fetured__item-none {
		display: none;
	}
}

.carousel-control-next {
	transform: rotate(180deg);
}
._icon-arrow_left {
	font-size: 50px;
	color: #000;
	&:hover {
		color: $redColor;
	}
}

.bread {
	background: #f8f3f4;

	&__body {
		min-height: 148px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include _480 {
			flex-direction: column;
			justify-content: space-around;
		}
	}

	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #f16d7f;
		text-transform: uppercase;
	}
}

.item-product {
	max-width: 1140px;
	min-height: 600px;
	background-color: #fff;
	margin: 0px auto;
	border: 2px solid #dfdfdf;
	text-align: center;
	z-index: 2;
	position: relative;
	top: -30px;

	&__txt {
		max-width: 640px;
		margin: 0 auto;
		border-bottom: 1px solid #eaeaea;
	}

	&__title {
		display: inline-block;
		position: relative;
		margin-top: 65px;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: $redColor;
		text-transform: uppercase;
		&::before {
			content: "";
			width: 63px;
			height: 3px;
			background-color: $redColor;
			position: absolute;
			top: 30px;
			left: 43px;
		}
	}

	&__sub-title {
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #4d4d4d;
		text-transform: uppercase;
		margin: 30px 0 48px 0;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #5e5e5e;
		//padding: 0 280px;
	}

	&__price {
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #ef5b70;
		margin: 32px 0 60px 0;
	}
}
//++++++++++++++++++++++++++ /product ++++++++++++++++++++++++++
//+++++++++++++++++++++++++++ catalog +++++++++++++++++++++++++
.catalog {
	&__head {
		min-height: 148px;
		background: #F8F3F4;
	}
}

.bread {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 148px;
	@include _480 {
		flex-direction: column;
		justify-content: space-around;
	}
	&__list {
		display: flex;
	}
	&__item {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: $redColor;
		text-transform: uppercase;
		&_active {
			font-weight: 700;
		}
	}

	&__link {
		color: #636363;
	}
}

.filter-catalog {
	margin: 50px 0;
	display: flex;
	justify-content: space-between;

	&__wrp {
		display: flex;
		align-items: center;
		
	}
	&__title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}

	&__btn {
		padding: 0 10px;
		&:hover {
			color: $redColor;
		}
	}

	&__body {
		margin-right: 350px;
		@include _768 {
			margin-right: 20px
		}
	}
}

.arrivals-catalog {

	&__body {
		padding: 0 25px;
		@include _480 {
			padding: 0;
		}
	}

	&__list {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}
}

.catalog__pages {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

a {
	text-decoration: none;
}
//++++++++++++++++++++++++++ /catalog +++++++++++++++++++++++++