* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #222222;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

._title {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #f16d7f;
  color: #fff;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.btn_white {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 10px 20px;
  color: #f16d7f;
  background-color: #fff;
}

.btn_white:hover {
  background-color: #f16d7f;
  color: #fff;
}

.btn_main {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #898989;
  padding: 10px 20px;
  color: #898989;
  background-color: #fff;
}

.btn_main:hover {
  background-color: #f16d7f;
  color: #fff;
  border: 1px solid #f16d7f;
}

.btn_trp {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 10px 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn_trp:hover {
  color: #f16d7f;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.9);
}

.btn_rad {
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  margin-left: -3px;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  color: #fff;
}

.btn_rad:hover {
  -webkit-box-shadow: 0 0 7px #f16d7f;
          box-shadow: 0 0 7px #f16d7f;
}

.item__btn {
  font-size: 14px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  z-index: 2;
}

.item__btn:hover {
  background-color: #f16d7f;
  border: 1px solid transparent;
}

.item__btn_text {
  margin-left: 10px;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
textarea:hover {
  -webkit-box-shadow: 0 0 7px #f16d7f;
          box-shadow: 0 0 7px #f16d7f;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.display-block {
  display: block;
}

.header {
  width: 100%;
  height: 75px;
  background: #222222;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  font-size: 32px;
  color: #e8e8e8;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__search:hover {
  color: #f16d7f;
}

@media (max-width: 480px) {
  .header__search {
    display: none;
  }
}

.header__user {
  font-size: 28px;
  color: #e8e8e8;
  margin-left: 33px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__user:hover {
  color: #f16d7f;
}

.logo {
  padding: 15px 15px 15px 3px;
  margin-top: -5px;
}

.search-form._active .search-form__input {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.search-form__item {
  margin-left: 10px;
}

.search-form__input {
  width: 400px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px;
  padding: 0 30px;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  .search-form__input {
    width: 140px;
  }
}

@media (max-width: 480px) {
  .search-form__input {
    display: none;
  }
}

.menu {
  font-size: 24px;
  color: #e8e8e8;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu:hover {
  color: #f16d7f;
}

.cart-header__icon {
  position: relative;
  font-size: 28px;
  color: #e8e8e8;
  margin-left: 33px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.cart-header__icon:hover {
  color: #f16d7f;
}

.cart-header__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  top: -7px;
  right: -7px;
  background-color: #f16d7f;
  color: #fff;
  font-size: 12px;
}

.menu-header {
  display: none;
  position: absolute;
  width: 232px;
  height: 764px;
  right: 0;
  top: 75px;
  background-color: #fff;
  z-index: 10;
}

.menu-header_show {
  display: block;
}

.menu-header__ico {
  position: absolute;
  right: 16px;
  top: 16px;
}

.menu-header__ico_icon-close {
  color: #6f6e6e;
}

.menu-header__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin: 37px 0 0 33px;
}

.menu-header__list {
  padding: 14px 0 0 33px;
}

.menu-header__sub-title {
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
  margin: 10px 0;
}

.menu-header__sub-list {
  margin-left: 20px;
}

.menu-header__sub-item {
  padding: 6px 0;
}

.menu-header__sub-link {
  padding: 5px;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.menu-header__sub-link::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #f16d7f;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.menu-header__sub-link:hover {
  color: #000;
}

.menu-header__sub-link:hover::after {
  width: 100%;
}

.brand {
  background-color: #f1e4e6;
}

.brand__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand__image {
  max-width: 100%;
}

@media (max-width: 768px) {
  .brand__image {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .brand__image {
    display: none;
  }
}

.brand__title {
  padding-right: 100px;
  position: relative;
  font-weight: 900;
  font-size: 48px;
  line-height: 38px;
  color: #222222;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
}

.brand__title::after {
  content: "";
  width: 12px;
  height: 88px;
  background-color: #f16d7f;
  position: absolute;
  top: -7px;
  left: -25px;
  z-index: 1;
}

@media (max-width: 480px) {
  .brand__title::after {
    top: 40px;
  }
}

@media (max-width: 992px) {
  .brand__title {
    padding-right: 0px;
    margin-left: 125px;
  }
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .brand__title {
    padding: 50px 0;
    margin-left: 0;
  }
}

.brand__sub-title {
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  .brand__sub-title {
    font-size: 24px;
  }
}

.brand__sub-title_red {
  color: #f16d7f;
}

@media (max-width: 768px) {
  .brand__sub-title_red {
    font-size: 20px;
  }
}

.sale__body {
  margin-top: 65px;
}

.sale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 260px);
		gap: 30px;
		@include _768 {
			gap: 20px;
		}*/
}

@media (max-width: 480px) {
  .sale__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sale__item {
  /*&:nth-child(4) {
			grid-column: 1/4;
			height: 180px;
		}
		@include _480 {
			&:nth-child(1) {
				grid-column: 1/4;
				//height: 220px;
			}
			&:nth-child(2) {
				grid-column: 1/4;
				height: 220px;
			}
			&:nth-child(3) {
				grid-column: 1/4;
				height: 220px;
			}
		}*/
  width: 32%;
  height: 260px;
}

@media (max-width: 480px) {
  .sale__item {
    width: 100%;
    margin-bottom: 10px;
  }
}

.sale__item_men {
  background: url(../img/men.jpg) no-repeat;
  background-position: center;
}

.sale__item_woman {
  background: url(../img/woman.jpg) no-repeat;
  background-position: center;
}

.sale__item_kids {
  background: url(../img/kids.jpg) no-repeat;
  background-position: center;
}

.sale__item_long {
  background: url(../img/accesories.jpg);
  background-position: center;
  width: 1140px;
  height: 180px;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .sale__item_long {
    width: 100%;
    margin-top: 0;
  }
}

.sale__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sale__sub-text {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
}

.sale__sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sale__sub-title {
    font-size: 18px;
  }
}

.fetured__txt {
  margin: 96px 0 18px 0;
  text-align: center;
}

.fetured__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.fetured__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.fetured__btn {
  margin: 48px 0 90px 0;
  text-align: center;
}

.card-product {
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card-product:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.card-product:hover .card-product__btn {
  opacity: 1;
  visibility: visible;
}

.card-product__labels {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 24px;
  top: 24px;
}

.card-product__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
}

.card-product__label:not(:last-child) {
  margin-bottom: 10px;
}

.card-product__label_sale {
  background: #f16d7f;
}

.card-product__label_new {
  background: #ee1212;
}

.card-product__label_hit {
  background: #921b2b;
}

.card-product__link {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-product__link img {
  width: 100%;
}

.card-product__link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}

.card-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 25px 18px 20px 18px;
}

.card-product__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-product__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 0 0 12px 0;
  text-transform: uppercase;
}

.card-product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 0 0 18px 0;
}

.card-product__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.card-product__btn {
  opacity: 0;
  visibility: hidden;
  min-height: 43px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-product__btn::before {
  margin-right: 10px;
  font-size: 18px;
}

.card-product__btn:hover {
  -webkit-box-shadow: 0px 0px 15px #fff;
          box-shadow: 0px 0px 15px #fff;
}

.skills {
  width: 100%;
  min-height: 341px;
  background: #222224;
}

.skills__body {
  padding: 90px 10px;
}

@media (max-width: 768px) {
  .skills__body {
    padding: 0;
  }
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .skills__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 100px;
  }
}

@media (max-width: 480px) {
  .skills__list {
    padding: 50px 0px;
  }
}

.skills__item {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .skills__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.skills__ico {
  color: #f16d7f;
  font-size: 40px;
  margin-bottom: 28px;
}

.skills__sub-title {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
}

.skills__sub-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.footer__top {
  width: 100%;
  background: url(../img/footer-bg.jpg) no-repeat top center;
  background-size: cover;
  background-position: left;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 86px 0;
}

@media (max-width: 768px) {
  .top-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.top-footer__comment {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__img {
  text-align: center;
  margin-bottom: 30px;
}

.top-footer__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.top-footer__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

@media (max-width: 480px) {
  .top-footer__text {
    font-size: 22px;
  }
}

.email-footer__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .email-footer__title {
    padding-top: 50px;
  }
}

.email-footer__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .form-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-email__input {
  width: 256px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding: 0 30px;
}

@media (max-width: 480px) {
  .form-email__input {
    max-width: 185px;
    padding: 0 10px;
  }
}

.bottom-footer {
  width: 100%;
  height: 79px;
  background: #222224;
}

.bottom-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
}

@media (max-width: 480px) {
  .bottom-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 30px;
  }
}

.bottom-footer__text {
  font-size: 16px;
  line-height: 150%;
  color: #fbfbfb;
}

.bottom-footer__social {
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.bottom-footer__social:hover {
  color: #f16d7f;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__item {
  font-size: 30px;
  padding: 5px 5px;
}

.registration__head {
  width: 100%;
  height: 148px;
  background: #f8f3f4;
}

.registration__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
  line-height: 148px;
}

@media (max-width: 480px) {
  .registration__title {
    text-align: center;
  }
}

.form-registration__wrp {
  margin: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .form-registration__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-registration__input {
  height: 45px;
  border: 1px solid #a4a4a4;
  margin: 20px 0;
}

.form-registration__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.form-registration__btn {
  margin: 40px 0;
  text-transform: uppercase;
}

.form-registration__btn span {
  margin-left: 20px;
  font-size: 10px;
}

.form-registration__pass {
  margin-top: 35px;
}

.radio-input {
  margin-right: 15px;
}

#male,
#female {
  margin-right: 4px;
}

.txt-reg {
  margin-left: 120px;
}

@media (max-width: 992px) {
  .txt-reg {
    margin-left: 20px;
  }
}

.txt-reg__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
}

.txt-reg__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 992px) {
  .txt-reg__text {
    font-size: 16px;
  }
}

.txt-reg__item {
  padding: 16px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 992px) {
  .txt-reg__item {
    font-size: 16px;
    padding: 10px 0;
  }
}

.txt-reg__item span {
  margin-left: 25px;
}

.cart__head {
  width: 100%;
  height: 148px;
  background: #f8f3f4;
}

.cart__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
  line-height: 148px;
}

@media (max-width: 480px) {
  .cart__title {
    text-align: center;
  }
}

.cart__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

@media (max-width: 768px) {
  .cart__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__product {
  max-width: 652px;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.cart__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 262px;
          flex: 0 0 262px;
}

.cart__img img {
  max-width: 100%;
}

@media (max-width: 480px) {
  .cart__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
}

.cart__description {
  padding: 30px 0px 0 31px;
}

@media (max-width: 480px) {
  .cart__description {
    padding-left: 5px;
  }
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}

@media (max-width: 768px) {
  .cart__btn {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .cart__btn {
    padding: 0;
  }
}

.cart__reg {
  margin-left: 40px;
}

@media (max-width: 768px) {
  .cart__reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .cart__reg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__form {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .cart__form {
    margin-top: 0px;
    width: 100%;
    margin-right: 30px;
  }
}

.cart__checkout {
  padding: 44px;
  margin-top: 70px;
}

.description-cart {
  position: relative;
  width: 100%;
}

.description-cart__ico {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #6f6e6e;
}

.description-cart__title {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 35px;
}

@media (max-width: 480px) {
  .description-cart__title {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 22px;
  }
}

.description-cart__text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.description-cart__text span {
  color: #f16d7f;
}

.description-cart__text p {
  padding: 3px 0;
}

@media (max-width: 480px) {
  .description-cart__text p {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .description-cart__text {
    font-size: 16px;
    line-height: 20px;
  }
}

.form-cart__input {
  width: 100%;
  height: 45px;
  border: 1px solid #a4a4a4;
  margin: 20px 0;
}

.checkout-cart {
  width: 100%;
  min-height: 214px;
  background-color: #f5f3f3;
}

@media (max-width: 768px) {
  .checkout-cart {
    width: 500px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .checkout-cart {
    width: 100%;
  }
}

.checkout-cart__text {
  text-align: right;
}

.checkout-cart__sub-title {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.checkout-cart__title {
  padding: 15px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
}

.checkout-cart__btn {
  width: 100%;
  margin-top: 20px;
  text-transform: uppercase;
}

.txt-uppercase {
  text-transform: uppercase;
}

.product__bread {
  width: 100%;
  min-height: 148px;
}

.product__breadcrumb {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product__breadcrumb-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.product__breadcrumb-item_active {
  text-transform: uppercase;
  color: #f16d7f;
}

.product__breadcrumb-link {
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.product__breadcrumb-link:hover {
  color: #f16d7f;
}

.product__btn {
  margin-left: 10px;
  color: #f16d7f;
  margin: 50px 0;
  border: 1px solid #f16d7f;
  font-size: 16px;
}

.product__btn::before {
  margin-right: 10px;
}

.product__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 480px) {
  .product__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__color {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.product__color:hover {
  color: #f16d7f;
}

.product__catalog {
  margin: 100px 0;
}

@media (max-width: 992px) {
  .fetured__item-none {
    display: none;
  }
}

.carousel-control-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

._icon-arrow_left {
  font-size: 50px;
  color: #000;
}

._icon-arrow_left:hover {
  color: #f16d7f;
}

.bread {
  background: #f8f3f4;
}

.bread__body {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .bread__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.bread__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}

.item-product {
  max-width: 1140px;
  min-height: 600px;
  background-color: #fff;
  margin: 0px auto;
  border: 2px solid #dfdfdf;
  text-align: center;
  z-index: 2;
  position: relative;
  top: -30px;
}

.item-product__txt {
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
}

.item-product__title {
  display: inline-block;
  position: relative;
  margin-top: 65px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
}

.item-product__title::before {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  position: absolute;
  top: 30px;
  left: 43px;
}

.item-product__sub-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin: 30px 0 48px 0;
}

.item-product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
}

.item-product__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
  margin: 32px 0 60px 0;
}

.catalog__head {
  min-height: 148px;
  background: #F8F3F4;
}

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

@media (max-width: 480px) {
  .bread {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.bread__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bread__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
}

.bread__item_active {
  font-weight: 700;
}

.bread__link {
  color: #636363;
}

.filter-catalog {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-catalog__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-catalog__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-catalog__btn {
  padding: 0 10px;
}

.filter-catalog__btn:hover {
  color: #f16d7f;
}

.filter-catalog__body {
  margin-right: 350px;
}

@media (max-width: 768px) {
  .filter-catalog__body {
    margin-right: 20px;
  }
}

.arrivals-catalog__body {
  padding: 0 25px;
}

@media (max-width: 480px) {
  .arrivals-catalog__body {
    padding: 0;
  }
}

.arrivals-catalog__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.catalog__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */