//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato", sans-serif;
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #222222;
$redColor: #f16d7f;
$grayColor: #898989;
$subMenuColor: #646464;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//============================== null =====================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: #{$fontSize + px};
}
html,
body {
	height: 100%;
	min-width: $minWidth;
}
body {
	line-height: 1;
	font-family: $fontFamily;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//============================== /null =====================================
body {
	//background: #57512f;
	color: $mainColor;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	//border: 1px solid #222222;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<Стили обьектов>==================================================================================
._title {
	font-size: 40px;
	font-weight: 700;
	line-height: 120%;
	align-items: center;
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.btn {
	font-weight: 600;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	min-height: 45px;
	background-color: $redColor;
	color: #fff;
	border: 1px solid transparent;
	&:hover {
		background-color: #fff;
		color: $redColor;
		border: 1px solid $redColor;
	}
	&--white {
		min-height: 45px;
		color: #A4A4A4;
		background-color: #fff;
		border: 1px solid #A4A4A4;
		padding: 0px 30px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: $redColor;
			color: #fff;
			border: 1px solid transparent;
		}
	}
	&--rad {
		transition: box-shadow 0.3s ease 0s;
		margin-left: -3px;
		width: 104px;
		height: 46px;
		background-color: #f16d7f;
		border-radius: 0px 23px 23px 0px;
		color: #fff;
		&:hover {
			box-shadow: 0 0 7px $redColor;
		}
		//display: block;
	}
}

.item__btn {
	font-size: 14px;
	transition: background-color 0.3s ease 0s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 15px;
	z-index: 2;
	&:hover {
		background-color: $redColor;
		border: 1px solid transparent;
	}
	&--text {
		margin-left: 10px;
		font-size: 14px;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: box-shadow 0.3s ease 0s;
	&:focus {
		outline: none;
	}
	&:hover {
		box-shadow: 0 0 7px $redColor;
	}
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.display-block {
	display: block;
}

//</Стили обьектов>==================================================================================

//============================== header ====================================
.header {
	width: 100%;
	height: 75px;
	//position: absolute;
	background: #222222;
	//margin: 0 auto;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 75px;
	}

	&__box {
		display: flex;
	}

	&__search {
		font-size: 32px;
		color: #e8e8e8;
		margin-left: 25px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
	}

	&__user {
		font-size: 28px;
		color: #e8e8e8;
		margin-left: 33px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
	}

	&__cart {
	}

	&__menu {
	}
}

.logo {
	padding: 15px 15px 15px 3px;
	margin-top: -5px;
}

.logo__img {
}

.menu {
	font-size: 24px;
	color: #e8e8e8;
	//margin-left: 40px;
	transition: color 0.3s ease 0s;
	&:hover {
		color: $redColor;
	}
}
.cart-header {
	&__icon {
		font-size: 28px;
		color: #e8e8e8;
		margin-left: 33px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
	}

	&__body {
	}

	&__list {
	}
}
.menu-header {
	display: none;
	position: absolute;
	width: 232px;
	height: 764px;
	right: 0;
	top: 75px;
	background-color: #fff;
	z-index: 10;
	&--show {
		display: block;
	}

	&__ico {
		position: absolute;
		right: 16px;
		top: 16px;
		&_icon-close {
			color: #6F6E6E;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		text-transform: uppercase;
		margin: 37px 0 0 33px;
	}

	&__list {
		padding: 14px 0 0 33px;
	}

	&__item {
	}

	&__sub-title {
		font-size: 14px;
		line-height: 17px;
		color: #F16D7F;
		text-transform: uppercase;
		margin: 10px 0;
	}

	&__sub-list {
		margin-left: 20px;
	}

	&__sub-item {
		padding: 6px 0;
		
	}

	&__sub-link {
		padding: 5px;
		position: relative;
		font-size: 14px;
		line-height: 17px;
		color: #6F6E6E;
		&::after {
			content: "";
			width: 0px;
			height: 2px;
			background-color: $redColor;
			position: absolute;
			bottom: 0px;
			left: 0;
			z-index: 1;
			transition: width .1s linear;
		}
		&:hover {
			color: #000;
			&::after {
				width: 100%;
			}
		}
	}
}

//============================== /header ===================================

//====================================== main ==========================================
.brand {
	background-color: #f1e4e6;

	&__body {
		height: 764px;
		display: flex;
		align-items: center;
	}
	&__img {
		margin-left: -160px;
	}

	&__title {
		position: relative;
		font-weight: 900;
		font-size: 48px;
		line-height: 38px;
		color: #222222;
		text-transform: uppercase;
		display: inline-block;
		&::after {
			content: "";
			width: 12px;
			height: 92px;
			background-color: #f16d7f;
			position: absolute;
			top: -10px;
			left: -25px;
			z-index: 1;
		}
	}

	&__sub-title {
		font-weight: 700;
		font-size: 32px;

		&--red {
			color: #f16d7f;
		}
	}
}
.sale {
	&__body {
		margin-top: 65px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		width: 360px;
		height: 260px;
		//border: 1px solid #000;
		&--men {
			background: url(../img/men.jpg) no-repeat;
		}
		&--woman {
			background: url(../img/woman.jpg) no-repeat;
		}
		&--kids {
			background: url(../img/kids.jpg) no-repeat;
		}
		&--long {
			background: url(../img/accesories.jpg);
			width: 1140px;
			height: 180px;
			margin-top: 20px;
		}
	}

	&__link {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	&__sub-text {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);
		position: absolute;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
	}

	&__sub-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		text-align: center;
		color: #f16d7f;
		text-transform: uppercase;
	}
}

//======================fetured========================

.fetured {
	&__txt {
		margin: 96px 0 18px 0;
		text-align: center;
	}

	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 36px;
		color: #222222;
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
	}

	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 360px;
		height: 580px;
		margin: 30px 0;
	}

	&__link {
		display: block;
		background: #f8f8f8;
	}

	&__img {
		position: relative;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			display: none;
		}
		&:hover {
			.item__btn {
				display: block;
			}
			&::before {
				display: block;
			}
		}
	}

	&__sub-title {
		text-transform: uppercase;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		padding: 25px 0 12px 18px;
	}

	&__sub-text {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		padding: 0 18px;
		color: #5d5d5d;
	}

	&__price {
		font-size: 16px;
		line-height: 19px;
		color: #f16d7f;
		padding: 18px;
	}

	&__btn {
		text-align: center;
		margin-bottom: 95px;
	}
}

.skills {
	width: 100%;
	min-height: 341px;
	background: #222224;
	&__body {
		padding: 90px 10px;
	}

	&__title {
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
	}

	&__item {
	}

	&__ico {
		color: #f16d7f;
		font-size: 40px;
		margin-bottom: 28px;
	}

	&__sub-title {
		font-weight: normal;
		font-size: 19.96px;
		line-height: 24px;
		color: #fbfbfb;
		margin-bottom: 16px;
	}

	&__sub-text {
		font-weight: 300;
		font-size: 13.972px;
		line-height: 17px;
		text-align: center;
		color: #fbfbfb;
	}
}
//===================================== /main ==========================================

//======================================= footer ========================================
.footer {
	&__top {
		width: 100%;
		min-height: 448px;
		background: url(../img/footer-bg.jpg) no-repeat top center;
		background-size: cover;
	}

	&__bottom {
	}
}
.top-footer {
	&__body {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__comment {
		width: 360px;
		height: 448px;
		display: flex;
		align-items: center;
	}

	&__img {
		text-align: center;
		margin-bottom: 30px;
	}

	&__image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #222224;
	}
}
.email-footer {
	&__body {
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		color: #222224;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		color: #222224;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}

.form-email {
	&__input {
		width: 256px;
		height: 46px;
		background-color: #e1e1e1;
		border-radius: 23px 0 0 23px;
		padding: 0 30px;
		//display: block;
	}

	&__submit {
	}
}

.bottom-footer {
	width: 100%;
	height: 79px;
	background: #222224;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 79px;
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
		color: #fbfbfb;
	}

	&__social {
		color: #fff;
		transition: color 0.3s ease 0s;
		&:hover {
			color: $redColor;
		}
	}

	&__list {
		display: flex;
	}

	&__item {
		font-size: 30px;
		padding: 5px 5px;
	}
}

//====================================== /footer ================================

//++++++++++++++++++++++++ registration+++++++++++++++++++++++++
.registration {

	&__head {
		width: 100%;
		height: 148px;
		background: #F8F3F4;
	}

	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #F16D7F;
		text-transform: uppercase;
		line-height: 148px;
	}

	&__form {
	}
}
.container {
}
.form-registration {

	&__wrp {
		margin: 65px 0 96px 0;
		display: flex;

	}

	&__body {
		flex: 0 1 560px;
	}

	&__input {
		height: 45px;
		border: 1px solid #A4A4A4;
		margin: 20px 0;
	}

	&__txt {
	}

	&__text {
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: #B1B1B1;
	}

	&__btn {
		margin-top: 40px;
		text-transform: uppercase;
		span {
			margin-left: 20px;
			font-size: 10px;
		}
	}

	&__pass {
		margin-top: 35px;
	}
}
.radio-input {
	margin-right: 15px;
}
#male, #female {
	margin-right: 4px;
}
.txt-reg {
	margin-left: 120px;

	&__title {
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		text-transform: uppercase;
		font-style: normal;
	}

	&__text {
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		color: #000000;
	}

	&__condition {

	}

	&__list {
		
	}

	&__item {
		padding: 16px 0;
		font-weight: 300;
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		span {
			margin-left: 25px;
		}
	}
}

//++++++++++++++++++++++++ /registration++++++++++++++++++++++++

//+++++++++++++++++++++++++cart++++++++++++++++++++++++
.cart {
	&__head {
		width: 100%;
		height: 148px;
		background: #F8F3F4;
	}

	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #F16D7F;
		text-transform: uppercase;
		line-height: 148px;
	}

	&__body {
		display: flex;
		margin: 50px 0;
		//justify-content: space-between;
	}

	&__product {
		max-width: 652px;
	}

	&__list {
	}

	&__item {
		display: flex;
		width: 652px;
		height: 306px;
		//border: 1px solid #222222;
		margin-top: 40px;
		box-shadow: 20px 20px 20px rgba(0,0,0,0.2)
	}

	&__img {
		width: 262px;
		height: 306px;
	}

	&__description {
		padding: 22px 0px 0 31px; 
	}

	&__btn {
		display: flex;
		justify-content: space-between;
		margin: 80px 0;
	}

	&__reg {
		margin-left: 120px;
		width: 100%;
	}

	&__form {
		margin-top: 40px;
	}

	&__checkout {
		padding: 44px;
		margin-top: 70px;
	}
}

.description-cart {

	&__title {
		font-size: 24px;
		line-height: 29px;
		color: #222222;
		text-transform: uppercase;
		margin-bottom: 42px;
	}

	&__text {
		font-size: 22px;
		line-height: 26px;
		color: #575757;
		span {
			color: $redColor;
		}
		p {
			padding: 3px 0;
		}
	}
}

.form-cart {
	&__input {
		width: 100%;
		height: 45px;
		border: 1px solid #A4A4A4;
		margin: 20px 0;
	}
}
.checkout-cart {
	width: 100%;
	min-height: 214px;
	background-color: #F5F3F3;

	&__text {
		text-align: right;
	}

	&__sub-title {
		font-size: 11px;
		line-height: 13px;
		color: #4A4A4A;
	}

	&__title {
		padding: 15px 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		text-transform: uppercase;
		border-bottom: 1px solid #E2E2E2;
	}

	&__btn {
		width: 100%;
		margin-top: 20px;
	}
}

//+++++++++++++++++++++++++/cart++++++++++++++++++++++++